.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* NAVIGATION STYLES */
.head-name {
    color: #FD6E0A;
}
.nav-title {
    font-size: 45px;
    font-weight: 900;
}
.Og-btn {
    background-color: #FD6E0A;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    padding: 18px 35px 19px 36px;
    font-weight: bold;
    font-size: 20px;
}
nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin: 0px 200px;
} 
nav ul li {
    list-style: none;
    margin-right: 50px;
}
nav li a {
    text-decoration: none;
    color: #474747;
}
nav ul {
    display: flex;
    align-items: center;
}
/* HEADER */

.header {
    background-image: url(images/developer.png), url(images/header_bg.png);
    background-repeat: no-repeat,no-repeat;
    background-position: Top left, bottom right ; 
}

/* BANNER ELEMENTS */
.text-area {
    max-width: 580px;
}
.banner-text {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}
.banner-title {
    font-size: 85px;
}
.contact-btn {
    margin-left: 27px;
    background-color: transparent;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
}
.banner-img {
    width: 580px;
}
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
    







