.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.bg-color {
    background-color: #FFF8F3;
}   
main {
    max-width: 1140px;
    margin: 0 auto;
}
/* NAVIGATION STYLES */
.head-name {
    color: #FD6E0A;
}
.nav-title {
    font-size: 45px;
    font-weight: 900;
}
.Og-btn {
    background-color: #FD6E0A;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    padding: 18px 35px 19px 36px;
    font-weight: bold;
    font-size: 20px;
}
nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin: 0px 200px;
} 
nav ul li {
    list-style: none;
    margin-right: 50px;
}
nav li a {
    text-decoration: none;
    color: #474747;
}
nav ul {
    display: flex;
    align-items: center;
}
/* HEADER */

.header {
    background-image: url(images/developer.png), url(images/header_bg.png);
    background-repeat: no-repeat,no-repeat;
    background-position: Top left, bottom right ; 
    background-size: auto, 60%;
}

/* BANNER ELEMENTS */
.text-area {
    max-width: 580px;
}
.banner-text {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}
.banner-title {
    font-size: 85px;
}
.contact-btn {
    margin-left: 27px;
    background-color: transparent;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
}
.banner-img {
    width: 560px;
}
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
 /* ABOUT ME  */
 .about-me {
    padding: 130px 150px 130px 150px;
    margin: 130px 0px;
 }
.section-title {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    color: #181818;
}
.section-des {
    font-size: 18px;
    text-align: center;
    color: #757575;
}
.about-items {
    display: flex;
    justify-content: space-evenly;
}
.item-title {
    font-size: 20px;
    color: #757575;
}
.item-des {
    font-size: 20px;
    color: #474747;
    font-weight: bold;
}
.aligning {
    text-align: center;
}

/* WHAT I DO SECTION */

.card-container {
    display: flex;
}
.card {
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.para {
    margin: 30px 310px 50px 310px;
}
h6{
    font-size: 20px;
    color: #181818;
    font-weight: bold;
    margin: 30px auto 20px auto;
}
.card-writing {
    font-size: 16px;
    color: #757575;
}
/* A summary of My Resume SECTION */

.section-title {
    font-size: 35px;
}
.part-title {
    color: #474747;
    font-size: 30px;
    font-weight: bold;
    margin: 30px 0px;
}

.item-main-thing {
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin: 10px 0;
}
.institution-name {
    font-size: 20px;
    font-weight: semi-bold;
    color: #757575;
    margin: 10px 0 20px 0
}
.institution-para {
    font-size: 16px;
    color: #757575;
}
.resume-sum-sec hr {
    margin: 30px 0
}
.resume-sum-sec {
    display: flex;
    gap: 50px;
}
.btn-center {
    text-align: center;
    margin: 50px auto 110px auto;
}






